.arrow{
    font-size: 40px;
    margin-right: 15px;
}

.fs20{
    font-size: 20px;
}

.bcc_pendente{
    background-color: rgba(252, 82, 82, 0.24) !important;
}

.bcc_aberto{
    background-color: red !important;
}

.bcc_fechado{
    background-color: red !important;
}

